.DS_Store
/iso/*
!/iso/README.md
/output-qemu/
/output-qemu-iso/
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
/*.box
/packer_cache/

